body {
    max-width: 800px;
    background-image: url("backgroundc.jpg");
    background-size: cover;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    text-align: center;
    height: 100vh;
}

h1 {
    color: whitesmoke;
    margin-top: 10px;
    margin-bottom: 10px;
}

h2 {
    color: whitesmoke;
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 20px;
}

p 
    {
        color: whitesmoke;
    }

.counterbody 
    {
        max-width: 60%;
        overflow-wrap: 20px;
        background: rgb(221,96,96,0.5);
        margin: auto;
        padding: 6vh;
    }

button {
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-weight: bold;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 5px;
}

#increment-btn {
    background: #dd6060;
}

#save-btn {
    background: #03c6ad;
}

